@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-tap-highlight-color: transparent; /* Removes tap highlight */
}

body {
  background: url(/IMGs/BG/BG.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  outline: none; /* Removes focus outline */
}
.form {
  width: 100%;
  max-width: 1220px;
  min-height: 95vh;
  border-radius: 1.5vw;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: #070b149c;
}
.contact-info {
  padding: 3.3rem 3.3rem;
  position: relative;
  background: url(/IMGs/BG/BG\ RED.avif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0 200px 200px 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.contact-info h1 {
  color: white;
  font-size: 3.5rem;
}
.contact-info p {
  font-weight: 400;
  text-shadow: 2px 2px 2px #09080d1a;
  color: #e7e7e7;
  margin: 1.5rem 0 0;
}

.contact-form {
  background: #070b149c;
  position: relative;
  height: auto;
}

.circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #a1031d);
  position: absolute;
}

.circle.one {
  width: 230px;
  height: 230px;
  top: 130px;
  right: -40px;
}

.circle.two {
  width: 100px;
  height: 100px;
  top: 10px;
  right: 30px;
}
.registration-form {
  padding: 3.3rem 3.3rem;
  overflow: hidden;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.registration-form h2 {
  color: #fff;
  font-size: 2.5rem;
  line-height: 1;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  text-shadow: 2px 2px 2px #09080d1a;
}
.input-container {
  position: relative;
  margin: 0.8rem 0;
}

.input-container input {
  width: 100%;
  padding: 10px 50px 10px 20px;
  background: #eee;
  border-radius: 15px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
  font-weight: 500;
  border-bottom: 3px solid transparent;
  transition: all 0.4s ease-in-out;
}
.input-container input::placeholder {
  color: #888;
  font-weight: 400;
}
.input-container input:focus {
  border-bottom: 3px solid #ad2424;
}

.input-container i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #888;
}
.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.playerbox {
  width: 100%;
  outline: none;
  border: none;
  background: #1c1c2b;
  padding: 15px 20px;
  color: #bebebe;
  font-weight: 600;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 15px;
  cursor: pointer;
  user-select: none;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.267);
}

.playerbox h3 {
  color: #cccccc;
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0;
}

/* Icon visibility with smooth transition */
.player i {
  position: absolute;
  right: 10px; /* Ensures both icons overlap */
  transition: opacity 0.6s ease;
}

#plus-icon {
  opacity: 1;
}

#minus-icon {
  opacity: 0;
}

.hide {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

.hide.visible {
  max-height: 200px; /* Adjust based on content, must match or exceed content's height */
}

.nextBtn {
  padding: 15px 30px;
  background: linear-gradient(#f14156, #ef233c);
  border: none;
  font-size: 1rem;
  color: #ffffff;
  line-height: 1;
  border-radius: 100px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
  margin: 0;
  font-weight: 600;
  z-index: 2;
}

.nextBtn:hover {
  background: linear-gradient(#f14156, #d90429);
}

.cancelBtn {
  padding: 15px 30px;
  background: transparent;
  border: 2px solid rgb(77, 77, 77);
  font-size: 1rem;
  color: #bebebe;
  line-height: 1;
  border-radius: 100px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
  margin: 0;
  font-weight: 600;
  z-index: 2;
}

.cancelBtn:hover {
  border: 2px solid #ac1a30;
}

.formbtn {
  position: relative;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 2rem; /* Adjust spacing between the buttons */
  margin-top: 1vh;
}
@media (max-width: 850px) {
  body {
    height: auto;
  }
  .form {
    grid-template-columns: 1fr;
  }
  .contact-info {
    padding: 1.7rem 1.6rem;
    border-radius: 0 0 2rem 2rem;
    text-align: center;
  }
  .registration-form {
    padding: 3rem 2rem;
  }
  .registration-form h2 {
    font-size: 2rem;
  }
  .contact-info h1 {
    line-height: 3.5rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1.5rem;
  }
  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.15rem;
  }

  .icon {
    width: 23px;
  }
}
