@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-tap-highlight-color: transparent;
}
/* For Webkit Browsers */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Hide the track (background) */
::-webkit-scrollbar-track {
  background: #030508; /* Removes background */
}

/* Style the scrollbar thumb (scroller) */
::-webkit-scrollbar-thumb {
  background: #0c1323; /* Scroller color */
  border-radius: 10px; /* Rounded corners */
}

body {
  background: url(/IMGs/BG/BG.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  padding: 0 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
}

.popup-content {
    background: #F1EFF6;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.popup-content button {
    margin-top: 10px;
    padding: 8px 15px;
    background: #F14156;
    color: #F1EFF6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup-content button:hover {
    background: #D90429;
}
















a {
  text-decoration: none;
  outline: none; /* Removes focus outline */
}
.contact-form {
  border: 3px solid #161c2b;
  border-radius: 30px;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background: #0c132369;
  position: relative;
  height: auto;
}
.registration-form {
  padding: 3.3rem 3.3rem;
  overflow: hidden;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

}

.registration-form h2 {
  text-align: center;
  color: #fff;
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 700;
  text-shadow: 2px 2px 2px #09080d1a;
}
.registration-form h3 {
  font-size: 1.5rem;
  color: #dddddd;
}
/* Hide containers by default */
.bank-container,
.upi-container,
.redeem-container {
  display: none;
}
/* Show when visible class is added */
.visible {
  display: block;
}
.paymentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 310px;
}
.paymentContainerWrapper,
.feePayWrapper,
.info-containerWrapper{
    overflow: hidden;
}
.methodChoose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  padding-top: 1vw;
}
.m input[type="radio"] {
  margin-right: 10px;
}
.m {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: 2px solid #1f2125;
  background: #151820;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.methodChoose label {
  color: #f1eff6;
}

.input-container {
  max-width: 300px;

  position: relative;
  margin: 0.8rem 0;
}

.input-container input {
  width: 100%;
  padding: 10px 50px 10px 20px;
  background: #eee;
  border-radius: 15px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
  font-weight: 500;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.input-container input::-webkit-input-placeholder {
  color: #888;
  font-weight: 400;
}
.input-container input::-moz-placeholder {
  color: #888;
  font-weight: 400;
}
.input-container input:-ms-input-placeholder {
  color: #888;
  font-weight: 400;
}
.input-container input::-ms-input-placeholder {
  color: #888;
  font-weight: 400;
}
.input-container input::placeholder {
  color: #888;
  font-weight: 400;
}
.input-container input:focus {
  border-bottom: 3px solid #ad2424;
}

.input-container i {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 20px;
  color: #888;
}
.player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.playerbox {
  width: 100%;
  outline: none;
  border: none;
  background: #212633;
  padding: 15px 20px;
  color: #bebebe;
  font-weight: 600;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 15px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.267);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.267);
}

.playerbox h3 {
  color: #cccccc;
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0;
}

/* Icon visibility with smooth transition */
.player i {
  position: absolute;
  right: 10px; /* Ensures both icons overlap */
  -webkit-transition: opacity 0.6s ease;
  -o-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
}

#plus-icon {
  opacity: 1;
}

#minus-icon {
  opacity: 0;
}
.hide {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.5s;
  -o-transition: max-height 0.5s;
  transition: max-height 0.5s;
}
.hide p,
.paymentContainer p {
  margin-top: 0.5vw;
  color: #f1eff6;
  font-size: 0.7rem;
  font-weight: 300;
  text-align: center;
}
.hide.visible {
  max-height: 200px; /* Adjust based on content, must match or exceed content's height */
}


.nextBtn {
  padding: 15px 30px;
  background: -o-linear-gradient(#f14156, #ef233c);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f14156),
    to(#ef233c)
  );
  background: linear-gradient(#f14156, #ef233c);
  border: none;
  font-size: 1rem;
  color: #ffffff;
  line-height: 1;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0;
  font-weight: 600;
  z-index: 2;
}

.nextBtn:hover {
  background: -o-linear-gradient(#f14156, #d90429);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f14156),
    to(#d90429)
  );
  background: linear-gradient(#f14156, #d90429);
}
.submitBtn {
  padding: 15px 30px;
  background: -o-linear-gradient(#f14156, #ef233c);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f14156),
    to(#ef233c)
  );
  background: linear-gradient(#f14156, #ef233c);
  border: none;
  font-size: 1rem;
  color: #ffffff;
  line-height: 1;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0;
  font-weight: 600;
  z-index: 2;
}

.submitBtn:hover {
  background: -o-linear-gradient(#f14156, #d90429);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f14156),
    to(#d90429)
  );
  background: linear-gradient(#f14156, #d90429);
}
.cancelBtn {
  padding: 15px 30px;
  background: transparent;
  border: 2px solid rgb(77, 77, 77);
  font-size: 1rem;
  color: #bebebe;
  line-height: 1;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0;
  font-weight: 600;
  z-index: 2;
}

.cancelBtn:hover {
  border: 2px solid #ac1a30;
}
.formbtn {
  width: 100%;
  position: relative;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 3vh;
  gap: 20px;
}
.feePay {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 0 2vw;
}
.feePay input {
    min-width: 250px;
  width: 100%;
  padding: 10px 50px 10px 20px;
  background: #eee;
  border-radius: 15px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
  font-weight: 500;
  border-bottom: 3px solid transparent;
  transition: all 0.4s ease-in-out;
}
.feePay p {
  margin-top: 0.5vw;
  color: #f1eff6;
  font-size: 0.8rem;
  font-weight: 300;
  text-align: center;
}
h4 {
  font-size: 1rem;
  color: #dddddd;
  text-align: center;
}
.qr {
  width: clamp(220px,40vw,350px);
  border-radius: 10px;
}



/* Hide inactive sections */
.paymentContainer{
    display: none;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.feePay {
    display: none;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

/* Show only the active section */
.paymentContainer.active,
.feePay.active {
    display: block;
    transform: translateY(-0);
}

/* Slide the current section up and hide it */
.info-container.slide-up {
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

/* Hide Submit button by default */
.submitBtn {
    display: none;
}

/* Show Submit button only in the last section */
.feePay.active .submitBtn {
    display: block;
}

/* Prevent scrolling overflow */
.registration-form {
    overflow: hidden;
    position: relative;
    height: auto;
}
.support{
  margin-top: 10px;
  font-size: 1rem;
  color: white; 
  text-decoration: none; 
  transition: all .4s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.support i{
  color: white; 
  font-size: 1.5rem;
}
 .support:hover{
  color: rgb(185, 185, 185);
}

@media (max-width: 850px) {
  .form {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .registration-form {
    padding: 3rem 1rem;
  }
  .registration-form h2 {
    font-size: 2rem;
  }
}
@media (max-width: 480px) {
  .title {
    font-size: 1.15rem;
  }
}
